body{
  font-family: 'Mali', cursive;
}

#Testimonio{
  background: #f1f1f1;
  padding: 50px 0 30px 0;
  text-align: center;
  margin-top: 40px;
}

header{
  margin-top: 70px;
}

footer{
  background: url(../img/fondo.jpg);
}
